<br />

<div class="booyah cols-xs-10 col-xs-offset-1">
	<h1>Team</h1>

	<p>There is only one person on this team. My name is Laura Umana and I'm currently learning how to code through the Firehose Project online coding bootcamp. This is my third project and I enjoyed making it. :)
</div>
